<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Rplay.master.cs" Inherits="COMPLAINBOX.ADMIN.Rplay" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder id="stylesheet" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
